html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(29,29,27);
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 80%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-icons {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.nav-icons a {
    color: white;
    font-size: 1.5rem;
    transition: 0.3s ease;
}

.nav-icons a:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
    text-align: center;
}

.formulario {
    padding-top: 50px;
    padding-bottom: 50px;
}

.banda-foto {
    width: 50%;
    max-width: 70%;
    height: auto;
}
.invitacion-foto {
    width: 20cm;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input {
    padding: 10px;
    width: 300px;
    max-width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #cc0000;
}

iframe {
    max-width: 100%;
    height: 450px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
}

@media (max-width: 768px) {

    .nav-icons {
        gap: 15px;
    }

    .nav-icons a {
        font-size: 1.3rem;
    }

    .invitacion-foto {
        width: 90%;
    }

    .banda-foto {
        width: 90%;
        max-width: 90%;
    }

    iframe {
        height: 300px;
    }

}